
<form action="/bookshelves/<%= @bookshelves.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH">
  <p>name</p>
  <input type="text" name="name"><br>
  <p>full?</p>
  <select id="full" name="full">
    <option value="pick one">pick one below</option>
    <option value=true>true</option>
    <option value=false>false</option>
  </select>
  <p>capacity</p>
  <input type="integer" name="capacity"><br>
  <input type="submit" name="submit">
</form>
