<a href="/books">books index</a>
<a href="/vehicles">vehicle index</a>
<a href="/bookshelves">bookshelf index</a>
<a href="/car_lots">car lot index</a>

<h1>All Bookshelves</h1>

<a href="/bookshelf/new">New Bookshelf</a>

<% @bookshelves.each do |bookshelf| %>
  <p><%= bookshelf.name %> <%= bookshelf.created_at %> </p>
<% end %>
