<h1>All Car Lots</h1>
<a href="/car_lot/new">new car lot</a>

<% @car_lots.each do |car_lot| %>
  <p><%= car_lot.name %> <%= car_lot.created_at %> <%= link_to "edit #{car_lot.name}", "/car_lots/#{car_lot.id}/edit" %></p>
<% end %>



