<p><a href="/books">books index</a></p>
<p><a href="/vehicles">vehicle index</a></p>

<h1>All Car Lots</h1>

<% @car_lots.each do |car_lot| %>
  <p><%= car_lot.name %> <%= car_lot.created_at %></p>
<% end %>
